@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
 
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/buttons.scss';
@import 'blocks/titles.scss';
@import 'blocks/form.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/feed.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';